<form action="/basket" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="form_buttons" value="Clean Basket">
</form>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Price with vat</th>
    <th>Quantity</th>
    <th>Total price with VAT</th>
  </tr>
  <% item_categories.each_with_index do |category, i| %>
  <tr>
    <td><%= category[:name] %></td>
    <td><%= price[i] %></td>
    <td><%=  price_with_vat[i] %></td>
    <td><%= category[:count] %></td>
    <td><%=  total_price_with_vat[i] %></td>
    <td>
      <form action="basket/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="name" value=<%= category[:name] %>>
        <input type="hidden" name="price" value=<%= category[:price] %>>
        <input type="hidden" name="description" value=<%= category[:description] %>>
        <input type="number" name="quantity" value=1>
        <button type="submit" class="basket_delete">Delete</button>
      </form>
    </td>
  </tr>
  <% end %>
  <td>Summary: <%= total_sum %></td>
  <td>Items in basket: <%= basket.count %></td>
</table>
